<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Pass Royale Temporada 8</h1>
        <div class="info">
            <h5>O QUE É O PASS ROYALE?</h5>
            <p class="lead">
                O Pass Royale libera recompensas e vantagens únicas durante a temporada! 
                Consiga coroas para liberar baús da coroa, patamares de recompensas da temporada 8 do 
                Pass Royale e ouro da caixa-forte!
            </p>
        </div>
        <div class="info">
            <h5>VANTAGENS DO PASS ROYALE</h5>
            <ul>
                <li>Tentativas ilimitadas nos desafios especiais</li>
                <li>Desbloqueio automático de baús (coloque o próximo baú na fila de desbloqueio!)</li>
                <li>Raios em todos os baús da coroa e do Pass Royale</li>
                <li>Um nome dourado exclusivo</li>
                <li>Presentes para os colegas de clã</li>
            </ul>
        </div>
    </div>
</div>
<div class="flex">
    <div class="card" style="width: 18rem; margin:5px;">
        <img class="card-img-top" src="../../../assets/imgs/first-image.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Suas stats</h5>
            <p class="card-text">Verifique aqui os seus dados relacionados ao jogo, como: partidas, vitórias, derrotas, coroas e recordes</p>
            <button (click)="direcionarTela('userProfile')" class="btn btn-primary">Visitar</button>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin:5px;">
        <img class="card-img-top" src="../../../assets/imgs/second-image.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin:5px;">
        <img class="card-img-top" src="../../../assets/imgs/third-image.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin:5px;">
        <img class="card-img-top" src="../../../assets/imgs/fourth-image.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo
                do card.</p>
            <a href="#" class="btn btn-primary">Visitar</a>
        </div>
    </div>
</div>