<!-- <div class="pos-f-t">
    <nav class="navbar navbar-light bg-light image-header">
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/imgs/logo.png" class="brand-logo" style="height: 150px;">
        </a>
    </nav>
</div> -->

<div class="pos-f-t">
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/imgs/logo.png" class="brand-logo" style="height: 65px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link text-white" href="#">História</a>
                <a class="nav-item nav-link text-white" href="#">Sobre</a>
            </div>
        </div>
    </nav>
</div>