@font-face {
    font-family: 'clash';
    src: url(../../../assets/fonts/Supercell-magic-webfont.ttf) format("truetype");
}

h1, h2, h3, h4 {
    font-family: 'clash';
}

.title {
    color: #FBAB4A;
    text-shadow: 3px 2px red;
}

.flex {
    display: flex;
}

.title-alignment { 
    justify-content: center;
    padding: 15px;
}

.content {
    justify-content: center;
}